@font-face {
  font-family: Manrope;
  src: url(./fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: Acme;
  src: url(./fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: Anek Bangla;
  src: url(./fonts/AnekBangla-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: B612 Mono;
  src: url(./fonts/B612Mono-Bold.ttf);
}

@font-face {
  font-family: Anek Gujarati;
  src: url(./fonts/AnekGujarati-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: Poppins Medium;
  src: url(./fonts/Poppins-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --color-black: #000000;
  --color-dark-green: #05796b;
  --color-orange: #f57059;
  --color-lighter-orange: #fbb57b;
  --color-dark-gray: #757095;
  --color-light-gray: #8593a3;
  --color-iconBG-gray: #ececec;
  --color-white: #ffffff;
  --color-black-lighter: #282828;

  --line-height-p: 3.2rem;
}

img {
  max-width: 100%;
}

h1 {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--color-black);
  font-size: clamp(2.875rem, 2.3093rem + 1.5964vw, 3.75rem);
  line-height: 8rem;
  letter-spacing: -3%;
}

h2 {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--color-black);
  font-size: clamp(2.8rem, 4vw, 4rem);
  line-height: 5.2rem;
  letter-spacing: -3%;
}

span {
  font-family: Anek Bangla, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--color-black);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  text-transform: uppercase;
  padding-bottom: 2%;
}

h3 {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 600;
  color: var(--color-black);
  font-size: clamp(1.6rem, 2vw, 2rem);
  line-height: 2.8rem;
  letter-spacing: -2%;
}

h4 {
  font-family: Acme;
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
}

p {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 0.8214rem + 0.8929vw, 1.25rem);
  color: var(--color-dark-gray);
  line-height: 3.2rem;
}

a {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.6692rem + 0.2281vw, 0.875rem);
  color: var(--color-black);
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-family: Anek Bangla, Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 0.8214rem + 0.8929vw, 2rem);
  text-transform: uppercase;
}

/* ! Buttons */

.button-orange {
  text-align: center;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;

  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 1.4rem 2.5rem 1.4rem 2.5rem;
  border-radius: 5rem;
}

.button-green {
  text-align: center;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;

  color: var(--color-white);
  background-color: var(--color-dark-green);
  padding: 1.4rem 4rem 1.4rem 4rem;
  border-radius: 5rem;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
}

.button-white {
  text-align: center;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;

  color: var(--color-black);
  background-color: var(--color-white);
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-radius: 5rem;
  width: 100;
  border: 1px solid #ececec;

  margin-bottom: 2vh;
}

.button-white-solid {
  text-align: center;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;

  color: var(--color-black);
  background-color: var(--color-white);
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-radius: 5rem;
  width: 100%;
  box-shadow: 0px 38px 50px 0px rgba(3, 48, 43, 0.8);

  margin-bottom: 2vh;
}

/* * general styling end */

/* ! header & nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-left: 8vw;
  margin-right: 8vw;
}

.nav-links {
  width: 30vw;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 1vw;
  padding-right: 1vw;
}

.nav-links a {
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.nav-links a img {
  padding-left: 1vw;
  padding-right: 2vw;
}

.sign-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 17vw;
  gap: 3vw;
  margin-left: 1vw;
}

/* ! Landing / Header section */

header {
  background-image: url(./img/radialGradient-header.svg);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-content {
  padding-left: 8vw;
  padding-top: 4vh;
  width: 50vw;
}

.landing-content p {
  font-size: 2rem;
  line-height: 3.5rem;
  padding-bottom: 5vh;
}

.mini-title {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  color: var(--color-black-lighter);
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: -5%;
}

.mini-container p {
  font-size: 1.6rem;
  font-family: Anak Gujarati, Arial, Helvetica, sans-serif;
  line-height: 160%;
  letter-spacing: -5%;
  color: var(--color-iconBG-gray);
}

.marketing-container {
  margin-top: 7vh;
  display: flex;
  justify-content: flex-start;
  gap: 3vw;
}

.mini-container {
  width: 40vw;
}

/* ! partnerns  /   logo-carousel section */

.partners {
  padding-top: 4vh;
  padding-bottom: 8vh;
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners h4 {
  padding-bottom: 4vh;
}

.logo-carousel {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logo-carousel img {
  padding: 1%;
}

/* ! services Section */

.services {
  background-image: url(./img/wave.svg);
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 4vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 4vh;
}

.services-text {
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vh;
}

.services-showcase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.service-box {
  width: 27rem;
  height: 23.7rem;
  border: 1px solid #ececec;
  border-radius: 1.6rem;
  background-color: var(--color-white);
}

.service-box:last-of-type h3 {
  padding-top: 4vh;
  font-size: 3.3rem;
  padding-bottom: 1vh;
}

.service-box:last-of-type h3,
.service-box:last-of-type p {
  color: var(--color-white);
}

.box-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20% 12% 12% 12%;
}

.service-box:nth-of-type(8) {
  background-color: var(--color-dark-green);
}

.service-box svg {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-iconBG-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 10%;
}

.service-box p {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -2%;
  text-align: left;
}

/* ! process section */

.process article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: auto;
  padding-bottom: 4vh;
}

.process-card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80vw;
  margin: auto;
  padding-bottom: 4vh;

  gap: 5%;
}

.process-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 25vw;
}

.circle-number {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-iconBG-gray);
  padding: 0.8rem;
  border-radius: 50%;
  top: 1.2rem;
  left: -6rem;
}

.process-card:first-of-type svg {
  border: 3rem solid white;
  border-radius: 50%;
  box-shadow: 0px 38px 100px 0px rgba(5, 121, 107, 0.1);
  outline: none;
}

.process-card svg {
  margin-bottom: 15%;

  border: 3rem solid white;
  outline: 1px dashed #05796b;
  border-radius: 50%;
}

/* ! store section */

.store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;

  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: auto;
  text-align: center;
}

.store p {
  padding-bottom: 2vh;
}

.store span {
  color: var(--color-orange);
}

/* !    */

.img-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 4vh;
}

.img-text-section article {
  width: 50vw;
}

.img-text-section article p {
  margin-bottom: 1vh;
}

/* ! plans */

.plans {
  background-image: url(./img/wave_background.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 4vh;
}

.plans-card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: var(--color-white);
  padding: 1vh 2vw 3vh 2vw;
  border-radius: 1rem;
  box-shadow: 0px 38px 100px 0px rgba(0, 0, 0, 0.08);
}

.price-text {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: clamp(3.5rem, 3.1991rem + 0.9153vw, 4rem);
}

.small-text {
  text-transform: uppercase;
  color: var(--color-dark-green);
  letter-spacing: 0.1rem;
}

.plans-card:nth-of-type(2) {
  background-color: var(--color-dark-green);
  border-radius: 1rem;
  box-shadow: 0px 38px 100px 0px rgba(5, 121, 107, 0.4);
}

.plans-card:nth-of-type(2) p,
.plans-card:nth-of-type(2) ul li,
.plans-card:nth-of-type(2) span {
  color: var(--color-white);
}

ul {
  margin-bottom: 10%;
}

ul li {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 200%;
  letter-spacing: -5%;
  font-size: 1.6rem;
  color: var(--color-dark-gray);
  margin-bottom: 5%;

  list-style-position: inside;
  list-style-image: url("./img/Check-Circle.svg");
}

ul li:nth-of-type(3),
ul li:nth-of-type(4) {
  list-style-image: url("./img/Cross-Circle.svg");
}

.plans-card:nth-of-type(2) ul li {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 200%;
  letter-spacing: -5%;
  font-size: 1.6rem;
  color: var(--color-white);
  margin-bottom: 5%;

  list-style-position: inside;
  list-style-image: url("./img/Check-Circle-inverted.svg");
}

hr {
  margin-top: 10%;
  margin-bottom: 10%;
  border: 1px solid rgba(133, 147, 163, 0.16);
}

/*  !   testimonial / clients section */

blockquote {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(1.375rem, 1.0517rem + 0.9122vw, 1.875rem);
  line-height: 4.1rem;
  letter-spacing: -2%;
  padding-bottom: 2vh;
}

.client-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-quote {
  padding-left: 8vw;
}

/* ! get started section with green box */

.get-started {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.green-box h2 {
  color: var(--color-white);
  text-align: center;
  padding-bottom: 4%;
}

.green-box {
  background-color: var(--color-dark-green);
  width: 80vw;
  margin: auto;
  border-radius: 1.4rem;
}

.green-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6% 25% 6% 25%;
}

/* ! footer */

.footer-wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  justify-content: space-between;
}

.contact {
  width: 15%;
  padding-right: 5%;
}

.footer-links-container {
  display: flex;
  justify-content: flex-end;
}

.link-list {
  display: flex;
  flex-direction: column;
  min-width: 14vw;
}

.call-icon::before {
  content: url("./img/call.svg");
  padding-right: 1vw;
}

.email-icon::before {
  content: url("./img/email.svg");
  padding-right: 1vw;
}

.contact p {
  font-size: clamp(0.875rem, 0.7998rem + 0.2288vw, 1rem);
  line-height: 2rem;
  padding-bottom: 1vh;
}

.contact h3,
.link-list h3 {
  padding-bottom: 10%;
}

.link-list a {
  padding-bottom: 15%;
}

/* ! copyright */

.rights {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.rights p {
  font-size: clamp(1rem, 0.6991rem + 0.9153vw, 1.5rem);
  color: #181433;
}

/* # Media queries */

@media only screen and (max-width: 1200px) {
  .landing-content {
    padding-left: 6vw;
    padding-top: 4vh;
    width: 60vw;
  }

  .landing-section img {
    max-width: 40%;
  }
  .landing-content p {
    font-size: 1.6rem;
    line-height: 3rem;
    padding-bottom: 4vh;
  }

  .mine-container p {
    font-size: 1.4rem;
    line-height: 100%;
  }
}

/* # tablet */

@media (max-width: 768px) {
  h1 {
    color: var(--color-black);
    line-height: 4rem;
    letter-spacing: -3%;
  }

  h2 {
    line-height: 3.4rem;
    letter-spacing: -3%;
    padding-bottom: 1vh;
  }

  span {
    padding-bottom: 1vh;
  }

  h3 {
    text-align: left;

    line-height: 2rem;
    letter-spacing: -2%;
  }

  p {
    line-height: 2.4rem;
  }

  a {
    font-size: 1.4rem;
    color: var(--color-black);
  }

  nav {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .logo {
    font-weight: bold;
    font-family: Anek Bangla, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 10vw;
  }

  .nav-links {
    padding-left: 0;
    padding-right: 0;
    width: 40vw;
  }

  /* # make sign up invisible */
  .sign-in a:nth-of-type(2) {
    display: none;
  }

  .landing-section img {
    max-width: 46%;
  }

  .landing-section {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .landing-content {
    text-align: center;
    padding-left: 4vw;
    padding-top: 8vh;
    width: 50vw;
  }

  .mini-container {
    max-width: 40vw;
  }

  .marketing-container {
    margin-top: 6vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10vw;
  }

  /* !    */

  .store {
    padding-top: 8vh;
    padding-bottom: 4vh;
    width: 85vw;
  }

  .img-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
    padding-right: 8vw;
  }

  .img-text-section article {
    width: 50vw;
  }

  .img-text-section article p {
    padding-bottom: 8%;
  }

  .img-text-section img {
    width: 40vw;
  }

  .client-quote {
    padding-left: 2vw;
  }

  blockquote {
    line-height: 2.5rem;
  }

  /* ! footer */

  .footer-wrapper {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .contact {
    width: 20%;
    padding-right: 2%;
  }

  .contact p {
    font-size: 1.2rem;
  }

  .link-list {
    min-width: 12vw;
  }
}

/* !  mobile */

@media (max-width: 567px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 1.5vh;
  }

  h4 {
    text-align: center;
    padding-bottom: 1vh;
  }

  .landing-content {
    padding-left: 0vw;
    padding-top: 0vh;
    margin: auto;
    width: 90vw;
  }

  .landing-section {
    padding-bottom: 4vh;
    flex-direction: column-reverse;
  }

  .landing-section img {
    max-width: 100%;
  }
  .landing-content p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    padding-bottom: 4vh;
  }

  .mini-title {
    text-align: left;
    font-size: 2rem;
  }

  .mini-container p {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 300;
  }

  /* ! Partners */

  .partners {
    width: 96vw;
  }

  .partners h4 {
    padding-bottom: 3vh;
  }

  .logo-carousel {
    width: 90vw;
  }

  /* ! services */
  .services {
    padding-left: 0vw;
    padding-right: 0vw;
    padding-bottom: 8vh;
  }

  .services-text {
    width: 80%;
  }

  .service-box {
    width: 20rem;
    height: 20rem;
    border: 1px solid #ececec;
    border-radius: 1.6rem;
    background-color: var(--color-white);
  }

  /* ! process */

  .process-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding-bottom: 4vh;

    gap: 5%;
  }

  .process-card {
    width: 60vw;
    padding-bottom: 4vh;
  }

  .plans {
    flex-wrap: wrap;
  }

  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .contact {
    text-align: center;
    width: 50vw;
    padding-right: 0;
    padding-bottom: 4vh;
  }
  .contact h3 {
    text-align: center;
  }

  .footer-links-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  .link-list {
    min-width: 40vw;
  }
}
